html {
  background-color: #bfc3ca;
}
body {
  font-family: sans-serif;
  max-width: 40%;
  position: relative;
  left: 30px;
}
li {
  margin: 15px 0px;
}
#weather-app {
  border: 1px solid #cecece;
  margin: 8px auto;
  border-radius: 10px;
  background-color: #dddddd;
  padding: 10px;
}
#all-info {
  border: 1px solid;
  border-radius: 10px;
  border-color: #cecece;
  background-color: #dddddd;
  max-width: 100%;
  left: 12px;
  position: relative;
}
#weather-icon {
  display: inline;
}
#current-temperature {
  font-size: 45px;
  opacity: 90%;
  position: relative;
  top: 20px;
}
#currently-shown-city {
  color: #212121;
  font-size: 35px;
  font-weight: 400;
  line-height: 28px;
  text-transform: capitalize;
  opacity: 85%;
  margin: 20px 5px 5px 20px;
}
#current-time-shown {
  color: #1a1a1a;
  font-size: 15px;
  font-weight: normal;
  line-height: 28px;
  margin: 0px 5px 0px 20px;
  opacity: 70%;
}
#current-weather-type {
  color: #212121;
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  margin: 0px 5px 0px 20px;
  text-transform: capitalize;
  opacity: 85%;
}

#list-of-stats {
  color: #212121;
  font-size: 18px;
  line-height: 50px;
  margin: 15px 30px 0px 5px;
  text-decoration: none;
  list-style: none;
  display: block;
  background-color: #dddddd;
  opacity: 85%;
}
#location-info {
  margin: 0;
  background-color: #dddddd;
  opacity: 90%;
  margin-bottom: 0px;
}
#forecast {
  color: #212121;
  background-color: #dddddd;
  max-width: 100%;
  border: 1px solid;
  border-radius: 10px;
  border-color: #cecece;
  text-align: center;
}
#forecast-date {
  opacity: 85%;
  position: relative;
  top: 8px;
}
#forecast-temps {
  font-size: 15px;
  margin-bottom: 8px;
}
#forecast-temp-max {
  opacity: 85%;
}
#forecast-temp-min {
  opacity: 55%;
}
#forecast-icon {
}
#footer-signature {
  opacity: 70%;
  margin-top: 0px;
}
#github-link {
  text-decoration: none;
}
#city-input {
  border: 1px solid;
  border-radius: 7px;
}
#f-c {
  position: relative;
  top: 45px;
  font-size: 16px;
  left: 5px;
}
#city-input {
  padding: 6px;
  margin: 0px 0px 3px 5px;
  max-width: 100%;
}
.container {
  background-color: #bfc3ca;
  margin: 30px;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.active {
  color: #212121;
  text-decoration: none;
}
.active:hover {
  cursor: default;
  color: #212121;
  text-decoration: none;
}
